
<div class ="spot_search_box clearfix">
	<%= form_with(url: spots_path, method: :get, remote: true) do |f| %>
	 	<%= f.text_field :search, placeholder: "検索ワード" %>
		<%= f.submit '検索する', class: "submit_button"  %>
	<% end %>
	<%= link_to new_spot_path do %>
		<span class ="new_spot_link_box">
			<i class="fas fa-plus"></i>
		</span>
	<% end %>
</div>
<div class ="spots_keyword clearfix">
	<p><%= keyword %>の検索結果 <%= spots.count %>件</p>
	<div class ="sort_box">
		<div class="menu-title"><%= sort %></div>
      	<div class="sub-menu">
	        <ul>
	        	<%= link_to spots_path(sort:  "人気順", key: terms),method: :get, remote: true, class: "link_decoration" do %>
    		  		<li>人気順</li>
    		  	<% end %>
	          	<%= link_to spots_path(sort:  "投稿順(新しい)", key: terms), method: :get, remote: true, class: "link_decoration" do %>
	          		<li>投稿順(新しい)</li>
	          	<% end %>
	          	<%= link_to spots_path(sort:  "投稿順(古い)", key: terms), method: :get, remote: true, class: "link_decoration" do %>
	          		<li>投稿順(古い)</li>
	          	<% end %>
	        </ul>
      	</div>
	</div>
</div>
<div class ="spots_box", style="width:400px;height:600px;overflow:auto;">
	<% spots.each do |spot| %>
		<div class ="spot_box clearfix">
			<%= link_to spot_path(spot.id), class: "link_decoration" do  %>
				<div class ="spots_image_box">
				 	<%= attachment_image_tag(spot, :spot_image, size: "150x110", fallback: "no_image_spot.jpg") %>
				 </div>
				 <div class ="spots_info_box">
		  			<%= spot.place %><br>
		  			<%= l spot.created_at, format: :short %>
	  			</div>
  			<% end %>
	  		<div class ="spots_good_box">
  				<span class ="spot_favorite_<%= spot.id%>">
			  		<%= render "spot_favorites/button", spot: spot %>
 				 </span>
				 <span class ="spot_bookmark_<%= spot.id%>">
				 	<%= render "spot_bookmarks/button", spot: spot %>
 				 </span>
			</div>
  		</div>
	<% end %>
</div>





